.gridContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-items: center; /* Horizontally centers items in each column */
  align-items: center; /* Vertically centers items in each column */
}

.firstRow {
  display: flex;
  justify-content: space-around;
  padding: 1rem;
  gap: 2rem;
}

.secondRow {
  display: flex;
  justify-content: space-around;
  padding: 1rem;
  gap: 2rem;
}
.thirdRow {
  display: flex;
  justify-content: space-around;
  padding: 1rem;
  gap: 2rem;
}
